# For use with direnv
# - `sudo apt install direnv`
#
# Add hook to end of .bashrc:
# eval "$(direnv hook bash)"
# 
# Allow this folder:
# - `direnv allow`
#
# Then add your scripting as required...
if [ ! -f ".env" ]; then
  echo ".env not found"
else
  source .env
fi
